<mat-toolbar color="primary">
  <span>Bem vindo ao App</span>
  <div class="example-spacer ">
  <button mat-flat-button target="_blank"
          (click)="navItens()"
          aria-label="Show tooltip on the button at the end of this section"
          class="example-spacer" color="primary">
    Item
  </button>
  <button  mat-flat-button target="_blank"
          (click)="navSolicitacoes()"
          aria-label="Hide tooltip on the button at the end of this section"
          class="example-spacer"
          color="primary">
    Solicitações
  </button>
</div>

</mat-toolbar>
<router-outlet></router-outlet>
